packaging==25.0
click==8.3.0
typing-inspection==0.4.2
platformdirs==4.5.0
wandb==0.22.2
charset-normalizer==3.4.4
GitPython==3.1.45
idna==3.11
gitdb==4.0.12
smmap==5.0.2
certifi==2025.10.5
pydantic_core==2.41.4
typing_extensions==4.15.0
pydantic==2.12.3
annotated-types==0.7.0
PyYAML==6.0.3
protobuf==6.33.0
sentry-sdk==2.42.1
requests==2.32.5
urllib3==2.5.0
